## Glassdoor Jobs Dataset

Glassdoor Jobs Data that having many issues, through differant data wrangling task we going to clean.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings ('ignore')

#### Load Data

In [2]:
# Load data
df = pd.read_csv('v1.2.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,GLASSDOOR JOBS,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title,index
3,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,0
4,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,1

In [4]:
df = pd.read_csv ('v1.2.csv', skiprows= 3)
df.head()

,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title,index
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,0
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,1
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist,2
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist,3
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN,4

In [5]:
df.drop ('index', axis=1, inplace=True)

In [6]:
df.head()

,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

In [7]:
# df Columns
df.columns

Index(['Competitors', 'Revenue', 'Sector', 'Industry', 'Ownership Type',
       'Founded', 'Size', 'Headquarters', 'Location', 'Name', 'Rating',
       'Description', 'Salary', 'Title'],
      dtype='object')

In [8]:
# Stoaring to list
cols = df.columns
cols

Index(['Competitors', 'Revenue', 'Sector', 'Industry', 'Ownership Type',
       'Founded', 'Size', 'Headquarters', 'Location', 'Name', 'Rating',
       'Description', 'Salary', 'Title'],
      dtype='object')

In [9]:
# columns 0:11 with related to Company
cols[0:11] # Company

Index(['Competitors', 'Revenue', 'Sector', 'Industry', 'Ownership Type',
       'Founded', 'Size', 'Headquarters', 'Location', 'Name', 'Rating'],
      dtype='object')

In [10]:
# columns 11:14 with related to Job Cols
cols[11:14] # Job Cols

Index(['Description', 'Salary', 'Title'], dtype='object')

In [11]:
# adding 'C_' 
l1 = 'C_'+ cols[0:11]
l1

Index(['C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating'],
      dtype='object')

In [12]:
# adding 'J_'
l2 = 'J_'+ cols[11:14]
l2

Index(['J_Description', 'J_Salary', 'J_Title'], dtype='object')

In [13]:
# Apped to lists
newlist = l1.append(l2)
newlist

Index(['C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating', 'J_Description', 'J_Salary',
       'J_Title'],
      dtype='object')

In [14]:
# new names to columns
df.columns = newlist

In [15]:
# Check df
df.head()

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

In [16]:
# Copping Data
df2 = df.copy()

#### Above operation can be done using add_prefix, add_suffix

In [17]:
# Adding prefix

df2.add_prefix('Glassdoor_').head()

,Glassdoor_C_Competitors,Glassdoor_C_Revenue,Glassdoor_C_Sector,Glassdoor_C_Industry,Glassdoor_C_Ownership Type,Glassdoor_C_Founded,Glassdoor_C_Size,Glassdoor_C_Headquarters,Glassdoor_C_Location,Glassdoor_C_Name,Glassdoor_C_Rating,Glassdoor_J_Description,Glassdoor_J_Salary,Glassdoor_J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

#### Reordering the Columns

In [18]:
# 'J_' at front and '_C' at end
# checking df
df.head(2)

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist

In [19]:
# Method 1
df3 = df[['J_Description', 'J_Salary','J_Title','C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating']]
df3.head(2)

,J_Description,J_Salary,J_Title,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating
0,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1
1,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2

In [20]:
# Method- 2

df [list(df.columns[11:14]) + list(df.columns[0:11]) ].head(2)

,J_Description,J_Salary,J_Title,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating
0,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1
1,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2

In [21]:
# Method- 3 (More faster way)

df.head(2)

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist

In [22]:
# revesing using loc[]
df = df.loc[:,::-1]
df.columns

Index(['J_Title', 'J_Salary', 'J_Description', 'C_Rating', 'C_Name',
       'C_Location', 'C_Headquarters', 'C_Size', 'C_Founded',
       'C_Ownership Type', 'C_Industry', 'C_Sector', 'C_Revenue',
       'C_Competitors'],
      dtype='object')

In [23]:
df.head(2)

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1

In [24]:
# data type of columns for 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   J_Title           684 non-null    object
 1   J_Salary          689 non-null    object
 2   J_Description     689 non-null    object
 3   C_Rating          684 non-null    object
 4   C_Name            689 non-null    object
 5   C_Location        689 non-null    object
 6   C_Headquarters    689 non-null    object
 7   C_Size            689 non-null    object
 8   C_Founded         689 non-null    int64
 9   C_Ownership Type  689 non-null    object
 10  C_Industry        689 non-null    object
 11  C_Sector          689 non-null    object
 12  C_Revenue         689 non-null    object
 13  C_Competitors     689 non-null    object
dtypes: int64(1), object(13)
memory usage: 75.5+ KB

#### Cleaninig dataset >> checking nulls

In [25]:
# Checking null

df.isna().sum()

J_Title             5
J_Salary            0
J_Description       0
C_Rating            5
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
dtype: int64

In [26]:
# C_Rating is in object type, it should be numeric

In [27]:
df[df.C_Rating.isna()]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
49,Data Scientist,$75K-$131K (Glassdoor est.),Company Description:\nWhats it like to work at...,NaN,Quick Base\n4.3,"Cambridge, MA","Cambridge, MA",201 to 500 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
67,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",NaN,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"
157,Experienced Data Scientist,$101K-$165K (Glassdoor est.),*******Please Apply using this link: https://a...,NaN,Guzman & Griffin Technologies (GGTI)\n4.4,"Washington, DC","Mays Landing, NJ",1 to 50 employees,1997,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,-1
350,Data Scientist,$122K-$146K (Glassdoor est.),What will you be doing?\n\nThe Contractor shal...,NaN,Praxis Engineering\n4.7,"Chantilly, VA","Annapolis Junction, MD",201 to 500 employees,2002,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),"Raytheon Technologies, Northrop Grumman, Booz ..."
686,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",NaN,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"

In [28]:
# Not Null
df[~df.C_Rating.isna()]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683,Global Data Analyst,$79K-$131K (Glassdoor est.),Global Data Analyst\nJob Code\n\n3938\n\nLocat...,3.8,Dermalogica\n3.8,"Carson, CA","Carson, CA",201 to 500 employees,1986,Subsidiary or Business Segment,Consumer Products Manufacturing,Manufacturing,$100 to $500 million (USD),"IMAGE Skincare, Aveda, Kiehl's"
684,Data Engineer,$79K-$131K (Glassdoor est.),POSITION SUMMARY\n\n\nThe candidate will be jo...,3.7,Bayview Asset Management\n3.7,"Coral Gables, FL","Coral Gables, FL",1001 to 5000 employees,1995,Company - Private,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),-1
685,Data Scientist,$79K-$131K (Glassdoor est.),"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation\n3.7,"New York, NY","New York, NY",501 to 1000 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
687,Data & Machine Learning Scientist,$79K-$131K (Glassdoor est.),Passionate about precision medicine and advanc...,3.3,Tempus Labs\n3.3,"Chicago, IL","Chicago, IL",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
688,Data Scientist - Machine Learning,$79K-$131K (Glassdoor est.),"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx\n2.5,"Brisbane, CA","Brisbane, CA",1 to 50 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,Sequenom

In [29]:
# Problematic values

for i in (df[~df.C_Rating.isna()]['C_Rating']):
    if len(i)>3:
        print (i)

4.4*
/3.7
3.8*/
2*+.9

In [30]:
l=[]
for i in (df['C_Rating']):
    try:
        pd.to_numeric(i)
    except ValueError:
        l.append(i)
print('Enormous Case:', l)

Enormous Case: ['4.4*', '/3.7', '3.8*/', '2*+.9']

In [31]:
# null index of above values

idx = df[df['C_Rating'].isna()].index
idx

Index([49, 67, 157, 350, 686], dtype='int64')

In [32]:
# Replacing null

lis = []

for i in range(0,len(idx)):
    lis.append(df.iloc[idx[i]]['C_Name'].split('\n')[1])

In [33]:
lis

['4.3', '4.0', '4.4', '4.7', '4.0']

In [34]:
# Replacing values to respective location 
df.iloc[idx,3]=lis

In [35]:
# checking Replacing values to respective location
df.iloc[idx]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
49,Data Scientist,$75K-$131K (Glassdoor est.),Company Description:\nWhats it like to work at...,4.3,Quick Base\n4.3,"Cambridge, MA","Cambridge, MA",201 to 500 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
67,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"
157,Experienced Data Scientist,$101K-$165K (Glassdoor est.),*******Please Apply using this link: https://a...,4.4,Guzman & Griffin Technologies (GGTI)\n4.4,"Washington, DC","Mays Landing, NJ",1 to 50 employees,1997,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,-1
350,Data Scientist,$122K-$146K (Glassdoor est.),What will you be doing?\n\nThe Contractor shal...,4.7,Praxis Engineering\n4.7,"Chantilly, VA","Annapolis Junction, MD",201 to 500 employees,2002,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),"Raytheon Technologies, Northrop Grumman, Booz ..."
686,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"

In [36]:
df.C_Rating.isna().sum()

0

In [37]:
# Making function

def cleaner(str):
    cleaner_str  = ''.join(filter(lambda x: x in ('0123456789.'),str))
    return float(cleaner_str)

In [38]:
#applying function
df['C_Rating']= df['C_Rating'].apply(cleaner)

In [39]:
# Checking Shape
df['C_Rating'].dtype

dtype('float64')

In [40]:
# checking column

df.C_Rating.describe()

count    689.000000
mean       3.672859
std        0.953591
min        1.000000
25%        3.400000
50%        3.800000
75%        4.300000
max        5.600000
Name: C_Rating, dtype: float64

In [41]:
# Now task is to clean >>> Clean >>> C_Name

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   J_Title           684 non-null    object
 1   J_Salary          689 non-null    object
 2   J_Description     689 non-null    object
 3   C_Rating          689 non-null    float64
 4   C_Name            689 non-null    object
 5   C_Location        689 non-null    object
 6   C_Headquarters    689 non-null    object
 7   C_Size            689 non-null    object
 8   C_Founded         689 non-null    int64
 9   C_Ownership Type  689 non-null    object
 10  C_Industry        689 non-null    object
 11  C_Sector          689 non-null    object
 12  C_Revenue         689 non-null    object
 13  C_Competitors     689 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 75.5+ KB

In [43]:
df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [44]:
name1 = df['C_Name'].str.split('\n')
name1

0                   [Healthfirst, 3.1]
1                       [ManTech, 4.2]
2                [Analysis Group, 3.8]
3                       [INFICON, 3.5]
4            [Affinity Solutions, 2.9]
                    ...
684    [Bayview Asset Management, 3.7]
685          [Via Transportation, 3.7]
686               [Grid Dynamics, 4.0]
687                 [Tempus Labs, 3.3]
688                      [CareDx, 2.5]
Name: C_Name, Length: 689, dtype: object

In [45]:
list2 = []

for i in name1:
    list2.append(i[0])
# print(list2)

In [46]:
#  New column > cleaned
df['C_Name1'] = list2
df.head(2)

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_Name1
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Healthfirst
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,ManTech

In [47]:
# IN some column -1 value

In [48]:
df.eq(-1).sum()

J_Title               0
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters        0
C_Size                0
C_Founded           119
C_Ownership Type      0
C_Industry            0
C_Sector              0
C_Revenue             0
C_Competitors         0
C_Name1               0
dtype: int64

In [49]:
# Total -1 values
(df.eq(-1)+df.eq('-1')).sum()

J_Title               0
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters       31
C_Size               27
C_Founded           119
C_Ownership Type     27
C_Industry           71
C_Sector             71
C_Revenue            27
C_Competitors       512
C_Name1               0
dtype: int64

In [50]:
# Column list
cols = df.columns
cols

Index(['J_Title', 'J_Salary', 'J_Description', 'C_Rating', 'C_Name',
       'C_Location', 'C_Headquarters', 'C_Size', 'C_Founded',
       'C_Ownership Type', 'C_Industry', 'C_Sector', 'C_Revenue',
       'C_Competitors', 'C_Name1'],
      dtype='object')

In [51]:
# replacing to Nan
for i in cols:
    df.loc[df[i].isin([-1,'-1']),i] = np.NaN

In [52]:
df.isna().sum()

J_Title               5
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters       31
C_Size               27
C_Founded           119
C_Ownership Type     27
C_Industry           71
C_Sector             71
C_Revenue            27
C_Competitors       512
C_Name1               0
dtype: int64

In [53]:
# shape
df.shape

(689, 15)

In [54]:
# droping nan
df.dropna(axis=0, inplace=True)

In [55]:
# after drpping df shape
df.shape

(170, 15)

In [56]:
df.isna().sum()

J_Title             0
J_Salary            0
J_Description       0
C_Rating            0
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
C_Name1             0
dtype: int64

In [57]:
# df
df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_Name1
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Healthfirst
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",INFICON
8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",Intuit - Data
10,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",Novetta
11,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",1904labs

In [58]:
# Index not proper
df.reset_index(drop=True, inplace=True)

In [59]:
df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_Name1
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Healthfirst
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",INFICON
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",Intuit - Data
3,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",Novetta
4,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",1904labs

In [60]:
# Creating new df
df4 = df.copy()

In [61]:
df['C_City']= df['C_Location'].apply(lambda x: x.split(',')[0])

In [62]:
df.head(3)

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_Name1,C_City
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Healthfirst,New York
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",INFICON,Newton
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",Intuit - Data,San Diego

In [63]:
loc= list(df.C_Location.unique())
print(loc)

['New York, NY', 'Newton, MA', 'San Diego, CA', 'Herndon, VA', 'Saint Louis, MO', 'Richland, WA', 'Plano, TX', 'Appleton, WI', 'United States', 'Overland Park, KS', 'Santa Monica, CA', 'Portsmouth, NH', 'Cambridge, MA', 'San Francisco, CA', 'Fort Wayne, IN', 'Carson, CA', 'Santa Clara, CA', 'Winter Park, FL', 'Peoria, IL', 'Ipswich, MA', 'Carmel, IN', 'Washington, DC', 'Gaithersburg, MD', 'Denver, CO', 'Chantilly, VA', 'Reston, VA', 'Bethesda, MD', 'Dayton, OH', 'McLean, VA', 'Woodbridge, NJ', 'Vicksburg, MS', 'Blue Bell, PA', 'Chicago, IL', 'Redwood City, CA', 'San Carlos, CA', 'Waltham, MA', 'Fort Worth, TX', 'Fort Belvoir, VA', 'Oklahoma City, OK', 'Champaign, IL', 'Texas', 'Lebanon, IN', 'Melbourne, FL', 'Cleveland, OH', 'San Jose, CA', 'Danvers, MA', 'Livermore, CA', 'Northbrook, IL', 'Oshkosh, WI', 'Ann Arbor, MI', 'Richmond, VA', 'Boston, MA', 'Kent, OH', 'Laurel, MD', 'Fremont, CA', 'Indianapolis, IN', 'Oxnard, CA', 'Kansas City, MO', 'Manchester, NH', 'Atlanta, GA', 'Falls Church, VA', 'Pleasanton, CA', 'Wilmington, DE', 'San Antonio, TX', 'Portland, OR', 'Simi Valley, CA', 'Bedford, MA', 'Collegeville, PA', 'Wellesley, MA', 'Bridgeport, WV', 'Naperville, IL', 'Bellevue, WA', 'Houston, TX']

In [64]:
for i in loc:
    if "," not in i:
        print(i)

United States
Texas

In [65]:
df[df['C_Location'].isin(['United States', 'Texas'])]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_Name1,C_City
9,Data Engineer,$75K-$131K (Glassdoor est.),Chef Software is the industry leader in IT aut...,3.6,Chef\n3.6,United States,"Seattle, WA",201 to 500 employees,2008.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Puppet, Ansible, SaltStack",Chef,United States
70,Data Scientist,$71K-$123K (Glassdoor est.),Who we are\n\n\nFueled by a fundamental belief...,3.8,PayPal\n3.8,Texas,"San Jose, CA",10000+ employees,1998.0,Company - Public,Internet,Information Technology,$10+ billion (USD),"Square, Amazon, Apple",PayPal,Texas
131,Data Scientist,$212K-$331K (Glassdoor est.),Position: Data Scientist\nLocation: Denver\nSt...,3.6,Creative Circle\n3.6,United States,"Los Angeles, CA",201 to 500 employees,2002.0,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,"Aquent, 24 Seven Talent",Creative Circle,United States
154,Data Scientist,$87K-$141K (Glassdoor est.),Business Unit:\nCubic Transportation Systems\n...,3.3,Cubic\n3.3,United States,"San Diego, CA",5001 to 10000 employees,1951.0,Company - Public,Aerospace & Defense,Aerospace & Defense,$1 to $2 billion (USD),"Accenture, Northrop Grumman, Xerox",Cubic,United States

In [66]:
df2 = df[~(df['C_Location']== 'United States')].reset_index(drop=True)
df2

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_Name1,C_City
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Healthfirst,New York
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",INFICON,Newton
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",Intuit - Data,San Diego
3,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",Novetta,Herndon
4,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",1904labs,Saint Louis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Product Data Scientist - Ads Data Science,$75K-$131K (Glassdoor est.),Who We Are\n\n\nThe team is responsible for pl...,4.1,Twitter\n4.1,"San Francisco, CA","San Francisco, CA",1001 to 5000 employees,2006.0,Company - Public,Internet,Information Technology,$2 to $5 billion (USD),"Facebook, Google, Pinterest",Twitter,San Francisco
163,Data Scientist,$75K-$131K (Glassdoor est.),WHO WE ARE\n\n\nPostmates enables anyone to ha...,3.2,Postmates - Corporate HQ\n3.2,"San Francisco, CA","San Francisco, CA",1001 to 5000 employees,2011.0,Company - Private,Express Delivery Services,Transportation & Logistics,Unknown / Non-Applicable,"DoorDash, Uber, Grubhub",Postmates - Corporate HQ,San Francisco
164,Data Analyst,$75K-$131K (Glassdoor est.),About Swiss Re\n\nSwiss Re is one of the world...,3.8,Swiss Re\n3.8,"Fort Wayne, IN","Zurich, Switzerland",10000+ employees,1863.0,Company - Public,Insurance Agencies & Brokerages,Insurance,$10+ billion (USD),"Munich Re, Hannover RE, SCOR",Swiss Re,Fort Wayne
165,Global Data Analyst,$79K-$131K (Glassdoor est.),Global Data Analyst\nJob Code\n\n3938\n\nLocat...,3.8,Dermalogica\n3.8,"Carson, CA","Carson, CA",201 to 500 employees,1986.0,Subsidiary or Business Segment,Consumer Products Manufacturing,Manufacturing,$100 to $500 million (USD),"IMAGE Skincare, Aveda, Kiehl's",Dermalogica,Carson
166,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent",Grid Dynamics,Santa Clara

In [67]:
df2['C_State']= df2[df2['C_Location'] != 'Texas']['C_Location'].apply(lambda x: x.split(',')[1])

In [68]:
df2.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_Name1,C_City,C_State
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Healthfirst,New York,NY
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",INFICON,Newton,MA
2,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",Intuit - Data,San Diego,CA
3,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",Novetta,Herndon,VA
4,Data Scientist,$137K-$171K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016.0,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",1904labs,Saint Louis,MO

In [69]:
df2.isna().sum()

J_Title             0
J_Salary            0
J_Description       0
C_Rating            0
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
C_Name1             0
C_City              0
C_State             1
dtype: int64

In [70]:
# Texas remain to fill
df2['C_State'].fillna('TX', inplace=True)
df2.isna().sum()

J_Title             0
J_Salary            0
J_Description       0
C_Rating            0
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
C_Name1             0
C_City              0
C_State             0
dtype: int64

In [71]:
df2 = df2.sort_values('C_State')
df2.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_Name1,C_City,C_State
166,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent",Grid Dynamics,Santa Clara,CA
28,"Data Science Manager, Payment Acceptance - USA",$79K-$131K (Glassdoor est.),Build out rigorous observability and optimizat...,4.0,Stripe\n4.0,"San Francisco, CA","San Francisco, CA",1001 to 5000 employees,2010.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Braintree, Authorize.Net, PayPal",Stripe,San Francisco,CA
30,Staff Data Scientist - Analytics,$99K-$132K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",Intuit - Data,San Diego,CA
33,Staff Data Scientist,$99K-$132K (Glassdoor est.),Intuit is hiring a Senior Data scientist to fo...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",Intuit - Data,San Diego,CA
119,Data Analyst - Unilever Prestige,$69K-$116K (Glassdoor est.),Data Analyst - Unilever Prestige\nJob Code\n\n...,3.8,Dermalogica\n3.8,"Carson, CA","Carson, CA",201 to 500 employees,1986.0,Subsidiary or Business Segment,Consumer Products Manufacturing,Manufacturing,$100 to $500 million (USD),"IMAGE Skincare, Aveda, Kiehl's",Dermalogica,Carson,CA

In [72]:
df2.set_index(['C_State', 'C_City'], drop=False, inplace=True)

In [73]:
df2.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)
        San Francisco  $79K-$131K (Glassdoor est.)
        San Diego      $99K-$132K (Glassdoor est.)
        San Diego      $99K-$132K (Glassdoor est.)
        Carson         $69K-$116K (Glassdoor est.)

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors        C_Name1  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent  Grid Dynamics
        San Francisco  Braintree, Authorize.Net, PayPal         Stripe
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        Carson           IMAGE Skincare, Aveda, Kiehl's    Dermalogica

                              C_City C_State
C_State C_City
 CA     Santa Clara      Santa Clara      CA
        San Francisco  San Francisco      CA
        San Diego          San Diego      CA
        San Diego          San Diego      CA
        Carson                Carson      CA

In [74]:
## Salary Column

In [75]:
import regex as re

In [76]:
re.sub('[^0-9]', '','69116K (Glassdoor est.)')

'69116'

In [77]:
# https://learn.upgrad.com/course/5701/segment/57305/350024/1056406/5279037

In [78]:
df2['Salary_Estimate'] = df2['J_Salary'].apply(lambda x: re.sub('[^0-9-]', '', x))

In [79]:
df2.head(2)

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA

                                          J_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)
        San Francisco  $79K-$131K (Glassdoor est.)

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA

                          C_Headquarters                  C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA  1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA  1001 to 5000 employees     2010.0

                        C_Ownership Type  \
C_State C_City
 CA     Santa Clara    Company - Private
        San Francisco  Company - Private

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet

                                     C_Sector                  C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology  $50 to $100 million (USD)
        San Francisco  Information Technology   Unknown / Non-Applicable

                                          C_Competitors        C_Name1  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent  Grid Dynamics
        San Francisco  Braintree, Authorize.Net, PayPal         Stripe

                              C_City C_State Salary_Estimate
C_State C_City
 CA     Santa Clara      Santa Clara      CA          79-131
        San Francisco  San Francisco      CA          79-131

In [80]:
# df2['Min_Salary'] = df2['Salary_Estimate'].apply(lambda x: float(x.split('-')[0]))

In [81]:
df2.insert(2, 'Min_Salary', df2['Salary_Estimate'].apply(lambda x: float(x.split('-')[0])))

In [82]:
df2.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  Min_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)        79.0
        San Francisco  $79K-$131K (Glassdoor est.)        79.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0
        Carson         $69K-$116K (Glassdoor est.)        69.0

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors        C_Name1  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent  Grid Dynamics
        San Francisco  Braintree, Authorize.Net, PayPal         Stripe
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        Carson           IMAGE Skincare, Aveda, Kiehl's    Dermalogica

                              C_City C_State Salary_Estimate
C_State C_City
 CA     Santa Clara      Santa Clara      CA          79-131
        San Francisco  San Francisco      CA          79-131
        San Diego          San Diego      CA          99-132
        San Diego          San Diego      CA          99-132
        Carson                Carson      CA          69-116

In [83]:
df2.insert(3, 'Max_Salary', df2['Salary_Estimate'].apply(lambda x: float(x.split('-')[1])))

In [84]:
df2.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  Min_Salary  Max_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)        79.0       131.0
        San Francisco  $79K-$131K (Glassdoor est.)        79.0       131.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        Carson         $69K-$116K (Glassdoor est.)        69.0       116.0

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2010.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Carson                Carson, CA     201 to 500 employees     1986.0

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors        C_Name1  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent  Grid Dynamics
        San Francisco  Braintree, Authorize.Net, PayPal         Stripe
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        Carson           IMAGE Skincare, Aveda, Kiehl's    Dermalogica

                              C_City C_State Salary_Estimate
C_State C_City
 CA     Santa Clara      Santa Clara      CA          79-131
        San Francisco  San Francisco      CA          79-131
        San Diego          San Diego      CA          99-132
        San Diego          San Diego      CA          99-132
        Carson                Carson      CA          69-116

In [85]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 167 entries, (' CA', 'Santa Clara') to ('TX', 'Texas')
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   J_Title           167 non-null    object
 1   J_Salary          167 non-null    object
 2   Min_Salary        167 non-null    float64
 3   Max_Salary        167 non-null    float64
 4   J_Description     167 non-null    object
 5   C_Rating          167 non-null    float64
 6   C_Name            167 non-null    object
 7   C_Location        167 non-null    object
 8   C_Headquarters    167 non-null    object
 9   C_Size            167 non-null    object
 10  C_Founded         167 non-null    float64
 11  C_Ownership Type  167 non-null    object
 12  C_Industry        167 non-null    object
 13  C_Sector          167 non-null    object
 14  C_Revenue         167 non-null    object
 15  C_Competitors     167 non-null    object
 16  C_Name1           167 non-null    object
 17  C_City            167 non-null    object
 18  C_State           167 non-null    object
 19  Salary_Estimate   167 non-null    object
dtypes: float64(4), object(16)
memory usage: 30.4+ KB

In [86]:
df2[['Min_Salary','Max_Salary']].describe()

       Min_Salary  Max_Salary
count  167.000000  167.000000
mean    97.467066  145.862275
std     32.720942   46.655094
min     31.000000   56.000000
25%     79.000000  123.000000
50%     91.000000  132.000000
75%    112.000000  163.000000
max    212.000000  331.000000

#### Bining

In [88]:
df3 = df2.copy()

In [89]:
df3['Min_Sal_Range'] = pd.cut(df2['Min_Salary'], bins=[56,100,160,330], labels=['L','M', 'H'])

In [90]:
df3.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  Min_Salary  Max_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)        79.0       131.0
        San Francisco  $79K-$131K (Glassdoor est.)        79.0       131.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        Carson         $69K-$116K (Glassdoor est.)        69.0       116.0

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  ...  \
C_State C_City                                                     ...
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees  ...
        San Francisco  San Francisco, CA   1001 to 5000 employees  ...
        San Diego      Mountain View, CA  5001 to 10000 employees  ...
        San Diego      Mountain View, CA  5001 to 10000 employees  ...
        Carson                Carson, CA     201 to 500 employees  ...

                                     C_Ownership Type  \
C_State C_City
 CA     Santa Clara                 Company - Private
        San Francisco               Company - Private
        San Diego                    Company - Public
        San Diego                    Company - Public
        Carson         Subsidiary or Business Segment

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors        C_Name1  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent  Grid Dynamics
        San Francisco  Braintree, Authorize.Net, PayPal         Stripe
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        Carson           IMAGE Skincare, Aveda, Kiehl's    Dermalogica

                              C_City C_State Salary_Estimate Min_Sal_Range
C_State C_City
 CA     Santa Clara      Santa Clara      CA          79-131             L
        San Francisco  San Francisco      CA          79-131             L
        San Diego          San Diego      CA          99-132             L
        San Diego          San Diego      CA          99-132             L
        Carson                Carson      CA          69-116             L

[5 rows x 21 columns]

In [91]:
df3.Min_Sal_Range.value_counts()

Min_Sal_Range
L    95
M    54
H     5
Name: count, dtype: int64

In [92]:
# but above is not right way , here using qcut
df3.drop ('Min_Sal_Range', axis=1, inplace=True)

In [93]:
df3['Min_Sal_Range'] = pd.qcut(df3['Min_Salary'], q=3, labels=['L', 'M', 'H'])

In [95]:
df3['Max_Sal_Range'] = pd.qcut(df3['Max_Salary'], q=3, labels=['L', 'M', 'H'])

In [96]:
df3.head()

                                                              J_Title  \
C_State C_City
 CA     Santa Clara                                    Data Scientist
        San Francisco  Data Science Manager, Payment Acceptance - USA
        San Diego                    Staff Data Scientist - Analytics
        San Diego                                Staff Data Scientist
        Carson                       Data Analyst - Unilever Prestige

                                          J_Salary  Min_Salary  Max_Salary  \
C_State C_City
 CA     Santa Clara    $79K-$131K (Glassdoor est.)        79.0       131.0
        San Francisco  $79K-$131K (Glassdoor est.)        79.0       131.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        San Diego      $99K-$132K (Glassdoor est.)        99.0       132.0
        Carson         $69K-$116K (Glassdoor est.)        69.0       116.0

                                                           J_Description  \
C_State C_City
 CA     Santa Clara    As a member of the Data Science team, this rol...
        San Francisco  Build out rigorous observability and optimizat...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...

                       C_Rating              C_Name         C_Location  \
C_State C_City
 CA     Santa Clara         4.0  Grid Dynamics\n4.0    Santa Clara, CA
        San Francisco       4.0         Stripe\n4.0  San Francisco, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        San Diego           4.4  Intuit - Data\n4.4      San Diego, CA
        Carson              3.8    Dermalogica\n3.8         Carson, CA

                          C_Headquarters                   C_Size  ...  \
C_State C_City                                                     ...
 CA     Santa Clara        San Ramon, CA   1001 to 5000 employees  ...
        San Francisco  San Francisco, CA   1001 to 5000 employees  ...
        San Diego      Mountain View, CA  5001 to 10000 employees  ...
        San Diego      Mountain View, CA  5001 to 10000 employees  ...
        Carson                Carson, CA     201 to 500 employees  ...

                                                    C_Industry  \
C_State C_City
 CA     Santa Clara    Enterprise Software & Network Solutions
        San Francisco                                 Internet
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Carson                 Consumer Products Manufacturing

                                     C_Sector                   C_Revenue  \
C_State C_City
 CA     Santa Clara    Information Technology   $50 to $100 million (USD)
        San Francisco  Information Technology    Unknown / Non-Applicable
        San Diego      Information Technology      $2 to $5 billion (USD)
        San Diego      Information Technology      $2 to $5 billion (USD)
        Carson                  Manufacturing  $100 to $500 million (USD)

                                          C_Competitors        C_Name1  \
C_State C_City
 CA     Santa Clara      Luxoft, EPAM, Capgemini Invent  Grid Dynamics
        San Francisco  Braintree, Authorize.Net, PayPal         Stripe
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        San Diego             Square, PayPal, H&R Block  Intuit - Data
        Carson           IMAGE Skincare, Aveda, Kiehl's    Dermalogica

                              C_City C_State Salary_Estimate Min_Sal_Range  \
C_State C_City
 CA     Santa Clara      Santa Clara      CA          79-131             L
        San Francisco  San Francisco      CA          79-131             L
        San Diego          San Diego      CA          99-132             M
        San Diego          San Diego      CA          99-132             M
        Carson                Carson      CA          69-116             L

                      Max_Sal_Range
C_State C_City
 CA     Santa Clara               L
        San Francisco             L
        San Diego                 M
        San Diego                 M
        Carson                    L

[5 rows x 22 columns]

In [97]:
df3.Max_Sal_Range.value_counts()

Max_Sal_Range
L    79
H    56
M    32
Name: count, dtype: int64